.sanremoColage-grid
    display: grid
    grid-template-columns: 2fr .9fr
    grid-column-gap: 70px
    align-items: end
    &__box
        grid-column: 1/2
        grid-row: 5/8
    &__img
        grid-row: 1/10
        grid-column: 2/3
        z-index: 10
        img
            position: relative
            &:nth-child(1)
                transform: rotate(8deg)
                margin-bottom: -70px
            &:nth-child(2)
                transform: rotate(-5deg)
                margin-bottom: -42px
                z-index: 10
            &:nth-child(3)
                transform: rotate(6deg)
                
                
            
    &__text
        margin-bottom: 50px
        grid-row: 2/5
    &__slider
        display: none

@media screen and ( max-width: 1199px )
    .sanremoColage-grid
        grid-template-columns: 2fr 1.1fr
        &__box
        &__text
        &__img
            align-self: center

@media screen and ( max-width: 991px )
    .sanremoColage-grid
        display: flex
        flex-direction: column
        &__text
            order: -2
        &__slider
            display: block
            order: -1
            margin-bottom: 50px
        &__img
            display: none
        
    